.box-layout {
  background: url('/images/bg.jpg');

  // use a single background pic to cover the whole page
  background-size: cover;

  // put elements in this block at center
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  position: absolute;
}

.box-layout__box {
  background: fade_out(white, 0.15);
  border-radius: 3px;
  padding: $l-size;
  text-align: center;
  width: 30rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;

  // h1 is large enough, we may use a small line-height
  // so we're overriding the default line-height (1.6) we set
  line-height: 1;
}

.box-layout__actions {
  display: flex;
  flex-direction: column;
  > button {
    margin-top: $s-size;
  }
}